---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=11211&key=AIzaSyBgQQagkT-wJryS16jMBBDgdYcGQLbVCEI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-goog-maps-metro-area:
      - New York, NY
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"11211\",\n
        \              \"short_name\" : \"11211\",\n               \"types\" : \n
        \              [\n                  \"postal_code\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Brooklyn\",\n               \"short_name\"
        : \"Brooklyn\",\n               \"types\" : \n               [\n                  \"political\",\n
        \                 \"sublocality\",\n                  \"sublocality_level_1\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"New York\",\n               \"short_name\" : \"New York\",\n               \"types\"
        : \n               [\n                  \"locality\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"New York\",\n               \"short_name\" : \"NY\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Brooklyn, NY 11211, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 40.7280089,\n                  \"lng\"
        : -73.9207299\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 40.7008331,\n                  \"lng\" : -73.9644697\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 40.7093358,\n               \"lng\" : -73.9565551\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 40.7280089,\n                  \"lng\" : -73.9207299\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 40.7008331,\n                  \"lng\" : -73.9644697\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJvbEjlVdZwokR4KapM3WCFRw\",\n
        \        \"postcode_localities\" : \n         [\n            \"Brooklyn\",\n
        \           \"Queens\"\n         ],\n         \"types\" : \n         [\n            \"postal_code\"\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 12 Feb 2025 23:05:52 GMT
recorded_with: VCR 6.3.1
