%h1 Missing Credentials

.message
  You are missing API key credentials for critical services required to run the application
  In order to set them, run <i>bundle exec rails credentials:edit</i> from the root directory and add them.

.missing_credentials
  - if GeocodingService.api_key.blank?
    .error
      Missing
      = link_to 'Google Maps API Key', 'https://developers.google.com/maps', target: '_blank'
  - if WeatherService.api_key.blank?
    .error
      Missing
      = link_to 'Pirate Weather API Key', 'https://pirate-weather.apiable.io/', target: '_blank'
