---
http_interactions:
- request:
    method: get
    uri: https://api.pirateweather.net/forecast/pirate_weather_api_key/40.7093358,-73.9565551
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9966'
      x-ratelimit-remaining-month:
      - '9966'
      x-ratelimit-limit-month:
      - '10000'
      ratelimit-reset:
      - '1530323'
      x-node-id:
      - ip-10-0-21-5.ec2.internal
      x-response-time:
      - '9287'
      x-forecast-api-calls:
      - '34'
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":40.7093358,"longitude":-73.9565551,"timezone":"America/New_York","offset":-5.0,"elevation":23,"currently":{"time":1739429640,"summary":"Rain","icon":"rain","nearestStormDistance":0.0,"nearestStormBearing":0.0,"precipIntensity":0.0531,"precipProbability":0.54,"precipIntensityError":0.0,"precipType":"rain","temperature":35.8,"apparentTemperature":28.42,"dewPoint":35.24,"humidity":0.95,"pressure":1020.29,"windSpeed":7.44,"windGust":20.01,"windBearing":89.0,"cloudCover":0.96,"uvIndex":0.0,"visibility":3.95,"ozone":282.35},"minutely":{"summary":"Rain","icon":"rain","data":[{"time":1739429640,"precipIntensity":0.0531,"precipProbability":0.54,"precipIntensityError":0.0,"precipType":"rain"},{"time":1739429700,"precipIntensity":0.0559,"precipProbability":0.54,"precipIntensityError":0.0,"precipType":"rain"},{"time":1739429760,"precipIntensity":0.0588,"precipProbability":0.54,"precipIntensityError":0.0,"precipType":"rain"},{"time":1739429820,"precipIntensity":0.0616,"precipProbability":0.55,"precipIntensityError":0.0,"precipType":"rain"},{"time":1739429880,"precipInten[...]
