---
http_interactions:
- request:
    method: get
    uri: https://api.pirateweather.net/forecast/XqOkvvKaupAmQD54AH3wzKSqBdXieDY5/40.7093358,-73.9565551
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9972'
      x-ratelimit-limit-month:
      - '10000'
      ratelimit-reset:
      - '1542942'
      x-ratelimit-remaining-month:
      - '9972'
      x-node-id:
      - ip-10-0-8-218.ec2.internal
      x-response-time:
      - '10746'
      x-forecast-api-calls:
      - '28'
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":40.7093358,"longitude":-73.9565551,"timezone":"America/New_York","offset":-5.0,"elevation":23,"currently":{"time":1739417040,"summary":"Snow","icon":"snow","nearestStormDistance":19.86,"nearestStormBearing":180.0,"precipIntensity":0.0142,"precipProbability":0.31,"precipIntensityError":0.0,"precipType":"snow","temperature":32.7,"apparentTemperature":24.78,"dewPoint":31.73,"humidity":0.95,"pressure":1023.47,"windSpeed":7.55,"windGust":23.25,"windBearing":72.0,"cloudCover":0.96,"uvIndex":0.0,"visibility":2.52,"ozone":282.47},"minutely":{"summary":"Snow","icon":"snow","data":[{"time":1739417040,"precipIntensity":0.0142,"precipProbability":0.31,"precipIntensityError":0.0,"precipType":"snow"},{"time":1739417100,"precipIntensity":0.0142,"precipProbability":0.31,"precipIntensityError":0.0,"precipType":"snow"},{"time":1739417160,"precipIntensity":0.0142,"precipProbability":0.31,"precipIntensityError":0.0,"precipType":"snow"},{"time":1739417220,"precipIntensity":0.0142,"precipProbability":0.31,"precipIntensityError":0.0,"precipType":"snow"},{"time":1739417280,"precipInten[...]
